# Xcode
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
DerivedData/
build/

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Archives
*.ipa
*.dSYM.zip
*.dSYM

