<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeveloperEmail</key>
	<string>bandan.kmahto@gmail.com</string>
	<key>DeveloperGitHub</key>
	<string>--</string>
	<key>DeveloperName</key>
	<string>Bandan Kumar Mahto</string>
	<key>DeveloperWebsite</key>
	<string>https://bandan-kumar.vercel.app</string>
</dict>
</plist>
